<header id="site-header">
    <nav class="navigation">
        <div class="navigation__title">
            <a href="/">
                <div class="navigation__title_name">Aliaksei Zhynhiaroŭski</div>
                <div class="navigation__title_subname">Full-Stack Java Developer</div>
            </a>
        </div>
        <ul class="navigation__list" id="nav-list">
            <li class="navigation__item">
                <a class="navigation-link about-link" href="/">about</a>
            </li>
            <li class="navigation__item">
                <a class="navigation-link blog-link"  href="/">blog</a>
            </li>
        </ul>
    </nav>
</header>